
/* Styles for hero */

.hero {
  color: #fff;
  background: linear-gradient(
      rgba(0,0,0,0.55), 
      rgba(0,0,0,0.55) 
    ),
    url(../img/home/door-way.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 3em;
  padding-bottom: 3em;
  
  font-size: 1.2em;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  transition: all 0.2s ease;
}

.hero__inner {
  width: 85%;
  margin: 0 auto;
}

.hero__title {
  font-family: 'the_bold_font', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.5em;
  margin-bottom: 1em;
  letter-spacing: 4px;
}

.hero p {
  font-weight: 100;
}

.hero strong {
  color: #78b8ea;
  font-weight: 900;
}

.hero a {
  font-size: 1.5em;
}

/* Styles for teaser */

.teaser {
  text-align: center;
}

.teaser__inner > p {
  font-size: 1.1em;
}

.teaser__title {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.teaser__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.teaser__item {
  /* border: 1px solid; */
  border-radius: 5px;
  width: 210px;
  margin-top: 20px;
}

.teaser__item h3 {
  font-weight: 700;
  font-size: 0.9em;
  /* text-align: center; */
}

.teaser__item--icon {
  height: 50px;
  /* text-align: center; */
  margin-bottom: 22px;
	border-radius: 5px;
}

.teaser__item--icon img {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 860px) {
  .hero {
    font-size: 1.5em;
  }

  .hero__title {
    font-size: 3em;
  }

  .teaser__list {
    flex-direction: row;
  }
}